Здравствуйте, {{ order.name }}.

Мы отложили для вас товары по заказу №{{ order.public_id }}.

По истечению срока брони заказ будет отменен.

Вы все еще можете оплатить заказ по <a href="{{ order.payment_url }}">ссылке</a>.

С уважением, интернет-магазин {{ vendor.name }}. <a href="{{ order.payment_url }}">{{ order.payment_url }}</a>.
