Hello, {{ order.name }}!
<br/>
<br/>
Your order <a href="{{order.client_order_url}}">N{{ order.public_id }}</a> in the amount of {{order.total_with_elivery_price | money_with_currency }} was granted the status <em>'{{order.workflow_state.title}}'</em>
{% if order.date_from and order.date_till %}<br><br> Delivery time: from {{ order.date_from }} to {{ order.date_till }}{% endif %}
<br>
<br>
--
<br>
{{ signature }}
